{% extends 'trip/_base.html' %}
{% load tailwind_filters %}

{% block content %}
    {% if form.instance.pk %}
        <h1 class="text-3xl font-extrabold text-gray-800 mb-6 text-center">Edit Note for {{ trip.city }}</h1>
    {% else %}
        <h1 class="text-3xl font-extrabold text-gray-800 mb-6 text-center">Add Note to {{ trip.city }}</h1>
    {% endif %}
    <form method="post" class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
        {% csrf_token %}
        {{ form|crispy }}
        {% if form.instance.pk %}
            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transition duration-200 mt-4">
                Update Note
            </button>
        {% else %}
            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transition duration-200 mt-4">
                Add Note
            </button>
        {% endif %}
    </form>
{% endblock %}
